*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variables-Colors*/
   :root {
       --primary-color: #58d68d;;
       --secondary-color: #239B56;
       --tertiary-color: white;
   }

/* body styles*/

body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles*/
header {
    padding: 40px 80px;
    background-color:var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

header h1 {
    font-weight: bold;
    font-size: 45px;
    color:var(--tertiary-color);
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a {
    color:var(--tertiary-color);
    text-align: right;
}

header nav {
    margin: 5px 10px;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    font-weight:lighter;
    font-size: 1.80vw;
}

header nav ul li a:hover {
    background:var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 10px;
}


/*Hero styles and intro animation*/


#hero-id {

    display: flex;
    flex-wrap: flex-end;
    height: 20%;
}

.hero-img {
    
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-id {
    padding: 80px;
   
}

.hero-sub {
    color: var(--tertiary-color);
    font-size: 35px;
    padding:20px;
    position:absolute;
    max-width: 90%;
    bottom: 20%;
    right: 100%;
    animation: slide-in 250ms ease-out forwards;
}

@keyframes slide-in {
  0% {
   right: 100%;  
  } 
  100% {
      right: 0;
  } 
}
  /* About Me Styles*/

.section-1 {
    margin: 0;
    padding: 60px 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
   
}

.me-img img {
    max-width: 100%;
    background-size: cover;
}

/* Work Section*/
.tiles-content {
    flex: 1 15%;
    margin: 0;
}

.tiles-content img {
    max-width: 40%;
    margin: 75px
}
.runbuddy {
    flex: 0 0 70%;
    width: 100%;
    float: right;
    
    text-align: center;

}
.tiles {
    flex: 0 0 20%;
    width:30%;
    float: left;
   
    background-color: var(--secondary-color);
    text-align:center;
}

.runbuddy img {
    max-width: 100%;
    margin-top: 20px;
}

.work-tiles {
   border: 4px solid #fff;
   display: flex;
   flex-wrap:wrap;
   height: 300px;
   width: 100%;
   
}



/* Contact Section*/

.contact {
    background-color: var(--primary-color);
    margin: 0px;
}