*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variables-Colors*/
   :root {
       --primary-color: #239b56;;
       --secondary-color: #cd853f;
       --tertiary-color: white;
   }

/* body styles*/

body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles*/
header {
    padding: 40px 80px;
    background-color:var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

header h1 {
    font-weight: bold;
    font-size: 45px;
    color:var(--tertiary-color);
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a {
    color:var(--tertiary-color);
    text-align: right;
}

header nav {
    margin: 5px 10px;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    font-weight:lighter;
    font-size: 2.80vw;
}

header nav ul li a:hover {
    background:var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 10px;
}


/*Hero styles and intro animation*/


#hero-id {

    display: flex;
    flex-wrap: flex-end;
    height: 500px;
}

.hero-img {
    max-width: 100%;
    background-size: cover;
    margin: 0;
    overflow: hidden;
}
 
.hero-sub {
    color: var(--tertiary-color);
    font-size: 35px;
    padding:10px;
    position:absolute;
    max-width: 90%;
    bottom: 20%;
    right: 100%;
    animation: slide-in 250ms ease-out forwards;
    
}

@keyframes slide-in {
  0% {
   right: 100%;  
  } 
  100% {
      right: 0;
  } 
}

  /* About Me Styles*/

.section-1 {
    margin: 0;
    padding: 30px 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
   
}

.me-img img {
    max-width: 100%;
    background-size: cover;
}

/* Work Section*/

#work {
    margin: 0;
    padding: 25px;
    background-color: var(--primary-color)

}
.tiles-content {
    flex: 1 15%;
    margin: 0;
}

.tiles img {
    max-width: 50%;
    display: block;
}
.work-tiles {
    display:flex;
    flex-wrap: wrap;
    flex-flow:wrap;
}
.runbuddy {
    display: flex;
    flex-wrap: wrap;
}
.runbuddy img {
    margin:0;
    padding:0;
    border:0;
    font-size: 100;
    font: inherit;
    vertical-align: baseline;
    max-width: 60%;
}

.work-tiles {
    margin:0;
    padding:0;
    border:0;
    font-size: 100;
    font: inherit;
    vertical-align: baseline;
    
 }
 
.tiles a:hover {
    background:var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 20px;
}

.tiles footer {
    background-color: var(--primary-color)
}



/* Contact Section */

.contact {
    background-color: var(--secondary-color);
    margin: 0px;
}

/* Footer */
footer {
    background-color: #cd853f;
}

/*Media Q's */
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
   section {
       padding: 35px 20px;
   } 

   .hero-sub {
       flex: 1 100%;
       font-size: 9px;
       
   }

   .hero-img {
     max-width: 100%;
     overflow: hidden;
   }

   header nav ul li a {
       font-size: 28px;
   }
 
}
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    section {
        padding: 35px 20px;
    } 
 
    .hero-sub {
        flex: 1 100%;
        flex-shrink: inherit;
        font-size: 9px;
        
        
    }
 
    .hero-img {
      max-width: 100%;
      overflow: hidden;
    }
 
    header nav ul li a {
        font-size: 28px;
    }
  }